<h2 class="section-title">{{ listTitle }}:</h2>
<div class="events">
  <div class="events-anchor">
    <button
      [routerLink]="['/event', item.department, item.category, item.slug]"
      class="schedule-item"
      *ngFor="let item of events; trackBy: trackByFn; let i = index"
      [style.left.rem]="distanceFromCenter(i, events) * -17"
      [class.live]="distanceFromCenter(i, events) === 0.5"
    >
      <!-- <img src="{{ item.imgSrc }}" class="schedule-image" alt="meatball" /> -->
      <div class="main">
        <h3 class="title">
          {{ item.title }}
        </h3>
        <div class="icon">
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>
        <p class="blurb" innerText="{{ item.blurb }}"></p>
      </div>

      <div class="footer">
        <div class="file">
          <span class="department">
            <a href="/"> {{ item.department }}</a></span
          >

          <span class="category">
            <a href="/">{{ item.category }}</a></span
          >
        </div>
        <div class="datetime">
          <span class="date">{{
            item.startTime | date: (item.allDay ? 'mediumDate' : 'medium')
          }}</span>
        </div>
      </div>
    </button>
  </div>
</div>
