@import 'libs/kmbx-meats/src/lib/style/base.scss';

.section-title {
  margin: 3rem 0 2rem;
}

.events {
  padding: 1rem;
  // margin: 0 10rem;
  background: $color-grey;
  // border-radius: 0.5rem;
  border: 0.05rem solid darken($color-grey, 5);
  box-shadow: inset 0px 0px 10px darken($color-grey, 5);

  display: flex;
  justify-content: center;
  overflow: hidden;

  height: 23rem;

  .events-anchor {
    position: relative;
    width: 0;
  }
}

.section-title {
  @include display;
  font-size: 4rem;
  text-align: center;
}

.schedule-item {
  @include outline;
  transition: background-color 0.5s, color 0.5s;

  &:hover,
  &.live {
    @include outline-grow-highlight;
    @include outline-grow-low-pulse;
    @include invert;
  }

  cursor: pointer;

  background: $color-grey;
  color: $color-dark-grey;

  box-shadow: 0px 0px 10px darken($color-grey, 20);

  padding: 1rem;
  margin: 0.5rem;

  box-sizing: content-box;

  transition: left 0.5s;
  position: absolute;
  height: 20rem;
  width: 14rem;

  display: flex;
  flex-direction: column;

  @include standard;

  .main {
    padding-bottom: 0.5rem;

    p {
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .datetime {
    @include caption;
  }

  .department::after {
    @include caption;
    margin: 0.5rem;
    content: '>';
  }

  .icon {
    @extend .highlight;

    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    mat-icon {
      width: 100%;
      text-align: center;
      font-size: 7rem;
    }
  }

  .title {
    @include title;
    @extend .highlight;
    height: 4rem;
  }

  .blurb {
    @include caption;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .tag {
      @include caption;
      @include outline;
      @extend .highlight;

      padding: 0rem 0.5rem;
      margin: 0 0.1rem;
      border-radius: 0;

      &:first-child {
        margin-left: 0;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
      }

      &:last-child {
        margin-right: 0;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }

      &:nth-child(2n + 1) {
        @include invert;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
