.wrap {
  padding: 1rem 3rem;
}

$border: 1px solid #ccc;

.performance {
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 50% auto;
    margin-top: 4rem;
  }
}

.viewers {
  position: relative;
  transition: all 0.5s;
  border-top: $border;
  border-bottom: $border;
  // background-color: black;
}

.viewer {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 4rem;
  min-height: 4rem;

  mix-blend-mode: multiply;

  transition: top 0.5s, height 0.5s;

  &.stacked {
    height: 8rem;
  }

  .name {
    width: 17rem;
    margin-right: 1rem;
    transition: width 0.5s, margin 0.5s, opacity 0.5s;
    white-space: nowrap;

    &.stacked {
      width: 0;
      margin-right: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
}
