@mixin actionBackground($red: 0, $green: 0, $blue: 0) {
  $color: rgb($red, $green, $blue);

  background: linear-gradient(90deg, rgba($color, 0.7) 0%, rgba($color, 0) 95%);

  border-left: solid 0.1rem $color;
}

.wrap {
  padding: 1rem 3rem;
}

$border: 1px solid #ccc;

.performance {
  header {
    display: grid;
    align-items: center;
    grid-template-columns: 50% auto;
    margin-top: 4rem;
  }
}

.viewers {
  position: relative;
  transition: all 0.5s;
  border-top: $border;
  border-bottom: $border;
  // background-color: black;
}

.viewer {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 4rem;
  min-height: 4rem;

  mix-blend-mode: multiply;

  transition: top 0.5s, height 0.5s;

  &.stacked {
    height: 8rem;
  }

  .name {
    width: 17rem;
    margin-right: 1rem;
    transition: width 0.5s, margin 0.5s, opacity 0.5s;
    white-space: nowrap;

    &.stacked {
      width: 0;
      margin-right: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  // actions stack sideways
  .actions {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.pink {
  @include actionBackground(255, 0, 255);
}

.cyan {
  @include actionBackground(0, 255, 255);
}

.yellow {
  @include actionBackground(255, 255, 0);
}

.stretch {
  flex: 1 1 auto;
}
