<div class="loading" *ngIf="!state.loaded" [@enterAnimation]>
  <div class="wrap">
    <span>loading</span>
  </div>
</div>
<div class="starting" *ngIf="state.loaded && !state.started" [@enterAnimation]>
  <div class="wrap">
    <a (click)="start()">start ></a>
  </div>
</div>
<app-surface></app-surface>
<!-- <div class="spacer"></div> -->

<!-- <div class="wrapper">
  <h1>The Weather Room</h1>
  <h2>A record of standing in the dark down by the river...</h2>

  <p>
    PETE’s Weather Room is our ongoing experiment in wrestling with the climate
    crisis and creating new work in a pandemic. PETE’s design team began by
    creating a room, an environment, a cycle of weather that lasts exactly 23:26
    (taken from the tilt of the earth’s axis). We made a room without walls,
    filled it with sound, wind and light, layered on astro turf and clay birds,
    stripes and bee suits. We drove it to the suburbs, to inner Southeast and
    far Lents, and finally parked it down by the river. We put ourselves in it,
    we danced and sang, lamented and listened. We waited for the moon.
  </p>

  <p>
    We acted based on our observations of the present to either frustrate or
    enact the future that we predicted will happen.
  </p>

  <p>(What is going to happen?)</p>

  <h2>This Is...</h2>

  <p>A record of standing in the dark together.</p>
  <p>A recording of the moment, a reading for the future.</p>
  <p>A record of predictions.</p>
  <p>A Murmuration, an Augury.</p>
</div>

<app-video-collection></app-video-collection>

<div class="wrapper">
  <h1>Thanks to so many people</h1>
</div> -->
