<div #surface class="surface" [class.invert]="state.started">
  <div class="loading" *ngIf="!state.loaded" [@enterAnimation]>
    <div class="wrap">
      <span>loading</span>
    </div>
  </div>
  <div
    class="starting"
    *ngIf="state.loaded && !state.started"
    [@enterAnimation]
  >
    <div class="wrap">
      <a (click)="start()">click to start ></a>
    </div>
  </div>
  <div class="countdown" *ngIf="state.preshow">
    <div class="wrap" *ngIf="{ value: timeToNextShow | async } as time">
      <span>{{ time.value }}</span>
    </div>
  </div>

  <div class="next" *ngIf="postShow" [@enterAnimation]>
    <span>
      for visions of the future and weather room appendicies...
      <a [routerLink]="['/info']">click here> </a>
    </span>
  </div>

  <div *ngIf="isCaptionsOn" class="captions">
    <div class="wrap">
      <span [hidden]="(captions$ | async)?.length < 1">{{
        captions$ | async
      }}</span>
    </div>
  </div>
  <ng-container *ngFor="let track of tracks; trackBy: trackBy">
    <app-video-track
      [activeTrackId]="activeTrackId"
      [src]="track.src"
      [id]="track.id"
      [commands]="commands"
      (loaded)="trackIsReady(track.id)"
    ></app-video-track>
  </ng-container>
  <audio
    src="
      https://storage.googleapis.com/wr-down-by-the-river/20201126/Weather%20Room%20Pre-Show%20v2.mp3
    "
    [muted]="state.active"
    autoplay
  ></audio>
  <app-controls
    *ngIf="state.showControls"
    [@enterAnimation]
    [tracks]="tracks"
    (activeTrack)="activateTrack($event)"
    [isCaptionsOn]="isCaptionsOn"
    [isFullscreen]="isFullscreen"
    [activeTrackId]="activeTrackId"
    (_fullscreen)="handleFullscreen()"
    (_captions)="handleCaptions()"
  ></app-controls>
</div>
