<div #surface class="surface">
  <ng-container *ngFor="let track of tracks; trackBy: trackBy">
    <app-video-track
      [activeTrackId]="activeTrackId"
      [src]="track.src"
      [id]="track.id"
      [commands]="commands"
      (loaded)="trackIsReady(track.id)"
    ></app-video-track>
  </ng-container>
  <app-controls
    [loaded]="allTracksReady"
    [started]="started"
    [tracks]="tracks"
    (activeTrack)="activateTrack($event)"
    (_fullscreen)="openFullscreen()"
    (_start)="start()"
  ></app-controls>
</div>
