<div class="wrap">
  <h1>Weather Room</h1>
  <h2>A Record of Standing in the Dark Down by the River</h2>
  <p>
    PETE’s Weather Room is our ongoing experiment in wrestling with the climate
    crisis and creating new work in a pandemic. PETE’s design team began by
    creating a room, an environment, a cycle of weather that lasts exactly 23:26
    (taken from the tilt of the earth’s axis). It’s a room without walls, filled
    with sound, wind and light, astro turf and clay birds, stripes and bee
    suits.
  </p>

  <p>
    We drove it to the suburbs, to inner-southeast and far Lents, and on
    November 1st, on dias de los muertos, all saints day, two days before the
    election, we finally parked it down by the river, on the traditional village
    sites of the Multnomah, Kathlamet, Clackamas, Tualatin, Kalapuya, Molalla,
    bands of the Chinook, many of whose descendants make up the
    <a
      target="_blank"
      href="https://www.up.edu/activities/files/leading-with-tradition.pdf"
    >
      indigenous community in Portland.
    </a>
  </p>

  <p>We put ourselves in it, we danced and sang, lamented and listened.</p>

  <p>We waited for the moon.</p>

  <p>We made a record of that moment to share with you...</p>
</div>

<div class="wrap">
  <h1>Visions of the Future</h1>
  <h2>Weather Room Youth Project</h2>

  <p>
    PETE has conceived of the Weather Room Project as a focal point for
    community dialogue, a gathering place of dreams, stories and ideas about the
    future. To that end, we hope to curate a series of performances inside and
    around the Weather Room.
  </p>

  <app-video-collection></app-video-collection>
</div>

<div class="wrap">
  <h1>Sources & Resources</h1>
  <h2>Readings/Listenings</h2>
  <p class="link">
    <a
      target="_blank"
      href="https://bookshop.org/books/the-sixth-extinction-an-unnatural-history/9781250062185"
    >
      The Sixth Extinction: An Unnatural History</a
    >
    by Elizabeth Kolbert
  </p>
  <p class="link">
    <a
      target="_blank"
      href="https://www.theatlantic.com/science/archive/2019/06/jedediah-purdy-reviews-robert-macfarlanes-underland/591574/"
    >
      A Nature Writer for the Anthropocene
    </a>
    by Jedediah Britton-Purdy
  </p>
  <p class="link">
    <a
      target="_blank"
      href="https://www.nytimes.com/2020/07/29/magazine/vesper-flights.html"
    >
      The Mysterious Life of Birds Who Never Come Down</a
    >
    by Helen MacDonald
  </p>
  <p class="link">
    <a target="_blank" href="https://gimletmedia.com/shows/howtosaveaplanet"
      >How to Save a Planet</a
    >
    Podcast
  </p>

  <h2>Activism</h2>

  <p class="link">
    <a
      target="_blank"
      href="https://www.sunrisemovement.org/home/?ms=SunriseMovement"
    >
      Sunrise Movement</a
    >
    - a movement to stop climate change, activists for the green new deal. Join
    your local hub and find out what you can do in your area.
  </p>

  <p class="link">
    <a target="_blank" href="https://fridaysforfuture.org"
      >Friday’s for Future</a
    >
    - is a global climate strike movement that started in August 2018, when
    15-year-old
    <a target="_blank" href="https://twitter.com/gretathunberg">
      Greta Thunberg</a
    >
    began a school strike for climate. Along with other groups across the world,
    Fridays for Future is part of a hopeful new wave of change, inspiring
    millions of people to take action on the climate crisis, and we want you to
    become one of us!
  </p>

  <p class="link">
    <a
      target="_blank"
      href="https://addup.sierraclub.org/campaigns/join-a-local-team-to-end-coal-in-america-forever"
      >Beyond Coal Campaign</a
    >
    - From mining to burning to waste disposal, there’s nothing clean about
    coal. Beyond Coal Campaign unies people across America to replace our
    dirtiest energy source with a future Beyond Coal and we are making progress.
    To date, they have retired over 300 coal plants. We still have more work to
    do with a little over 200 coal plants to go.
  </p>
</div>

<div class="wrap">
  <h1>Collaborators</h1>
  <h2>Weather Room</h2>
  <div class="program">
    <p>Scenographer and Lead Artist - Peter Ksander</p>
    <p>Director - Amber Whitehall</p>
    <p>Light Design - Miranda Hardy</p>
    <p>Sound Design - Mark Valadez</p>
    <p>Costume design - Jenny Ampersand</p>
    <p>Property Design - Maggie Heath</p>
    <p>Video and Streaming - Trevor Sargent</p>
    <p>Production Manager - Molly Gardner</p>
    <p>Location and Patron Services - Kristina Mast</p>
    <p>Carpenter and Transportation - Mike Wax</p>
    <p>PETE performer/creators:</p>
    <li>Jacob Coleman</li>
    <li>Rebecca Lingafelter</li>
    <li>Cristi Miles</li>
  </div>

  <h2>Youth Response</h2>

  <div class="program">
    <p>Youth Artistic Lead - Tamara Caroll</p>
    <p>Youth Project Performers:</p>
    <li>Elijah Castillo</li>
    <li>Della Cosloy</li>
    <li>Amelia Dusevoir</li>
    <li>Jamie Mack</li>
    <li>Arjun Pai</li>
    <li>Taylor Putzek</li>
  </div>
</div>

<div class="wrap">
  <p>
    Weather Room is made possible by Ronni LaCroute, Harold Goldstein and Carol
    Streeter, Ellen Walkley and Brian Myers, Charlene Zidell, The Mental Insight
    Foundation, MAP Fund, The Kinsman Foundation, The CRFCS Fund through the
    Oregon Cultural Trust, Lewis & Clark College Theatre Department, The Reed
    College Theatre Department, and Zidell Yards
  </p>
  <p></p>
  <p>
    Thank you to Northwest Children’s Theatre and Sarah Jane Hardy, Alan Park,
    Resonance Ensemble, BodyVox,
  </p>
</div>
