:host {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
}

.wrap {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 10px;
  box-sizing: border-box;
}

.buttons {
  grid-column: 2;
  display: grid;

  grid-template-columns: repeat(3, 1fr) 2fr 1fr 1fr;
  grid-column-gap: 10px;
}

a {
  font-size: smaller;
  opacity: 0.3;
  transition: opacity 1s;
  color: #eee;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.wrap:hover {
  a {
    opacity: 1;
  }
}

.active {
  text-decoration: underline;
}
